[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-multipart = "*"
mangum = "*"
fastapi-cors = "*"
gunicorn = "*"
flask = "*"
flask-cors = "*"
genericsuite = "*"
genericsuite-ai = "*"

[dev-packages]
pytest = "*"
coverage = "*"
cfn-lint = "*"

[requires]
python_version = "3.11"
