# Documentation publishing

# Build directory (source for FTP transfer)
SOURCE_DIRECTORY_PATH=./site
# FTP remote host:port
REMOTE_HOST=
# FTP remote username
REMOTE_USERNAME=
# FTP remote password
REMOTE_PASSWORD=
# Remote target directory path
REMOTE_DIRECTORY_PATH=

# Documentation translation

OPENAI_API_KEY=

OPENAI_MODEL=gpt-5-nano
# OPENAI_MODEL=gpt-4o-mini

OPENAI_TEMPERATURE=1
# OPENAI_TEMPERATURE=0.3
