[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wheel = "==0.41.3"
setuptools = "==75.1.0"
chalice = "==1.30.0"
pymongo = "==4.6.3"
genericsuite = "*"
genericsuite-ai = "*"

[dev-packages]
pytest = "*"
coverage = "*"

[requires]
python_version = "3.11"
