[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chalice = "==1.32.0"
genericsuite = "*"
genericsuite-ai = "*"

[dev-packages]
pytest = "*"
coverage = "*"

[requires]
python_version = "3.11"
