-i https://pypi.org/simple
aiohappyeyeballs==2.6.1; python_version >= '3.9'
aiohttp==3.12.13; python_version >= '3.9'
aiosignal==1.4.0; python_version >= '3.9'
aiosqlite==0.21.0; python_version >= '3.9'
annotated-types==0.7.0; python_version >= '3.8'
anthropic==0.57.1; python_version >= '3.8'
anyio==4.9.0; python_version >= '3.9'
attrs==25.3.0; python_version >= '3.8'
banks==2.1.3; python_version >= '3.9'
blessed==1.21.0; python_version >= '2.7'
boto3==1.35.99; python_version >= '3.8'
botocore==1.35.99; python_version >= '3.8'
bottleneck==1.5.0; python_version >= '3.9'
cachetools==5.5.2; python_version >= '3.7'
certifi==2025.6.15; python_version >= '3.7'
cffi==1.17.1; python_version >= '3.8'
chalice==1.30.0
charset-normalizer==3.4.2; python_version >= '3.7'
clarifai==10.1.0; python_version >= '3.8'
clarifai-grpc==10.0.10; python_version >= '3.8'
click==8.2.1; python_version >= '3.10'
colorama==0.4.6; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6'
cryptography==42.0.8; python_version >= '3.7'
dataclasses-json==0.6.7; python_version >= '3.7' and python_version < '4.0'
defusedxml==0.7.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
deprecated==1.2.18; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
dirtyjson==1.0.8
distro==1.9.0; python_version >= '3.6'
dnspython==2.7.0; python_version >= '3.9'
docstring-parser==0.16; python_version >= '3.6' and python_version < '4.0'
duckduckgo-search==7.5.0; python_version >= '3.9'
faiss-cpu==1.8.0.post1; python_version >= '3.8'
filelock==3.18.0; python_version >= '3.9'
filetype==1.2.0
frozenlist==1.7.0; python_version >= '3.9'
fsspec==2025.5.1; python_version >= '3.9'
genericsuite==0.1.11; python_version >= '3.9' and python_version < '4.0'
genericsuite-ai==0.1.13; python_version >= '3.9' and python_version < '4.0'
google-ai-generativelanguage==0.6.18; python_version >= '3.7'
google-api-core[grpc]==2.25.1; python_version >= '3.7'
google-api-python-client==2.175.0; python_version >= '3.7'
google-auth==2.40.3; python_version >= '3.7'
google-auth-httplib2==0.2.0
google-cloud-aiplatform==1.101.0; python_version >= '3.9'
google-cloud-bigquery==3.34.0; python_version >= '3.9'
google-cloud-core==2.4.3; python_version >= '3.7'
google-cloud-resource-manager==1.14.2; python_version >= '3.7'
google-cloud-storage==2.19.0; python_version >= '3.7'
google-crc32c==1.7.1; python_version >= '3.9'
google-genai==1.24.0; python_version >= '3.9'
google-resumable-media==2.7.2; python_version >= '3.7'
googleapis-common-protos[grpc]==1.70.0; python_version >= '3.7'
greenlet==3.2.3; python_version >= '3.9'
griffe==1.7.3; python_version >= '3.9'
groq==0.29.0; python_version >= '3.8'
grpc-google-iam-v1==0.14.2; python_version >= '3.7'
grpcio==1.73.1; python_version >= '3.9'
grpcio-status==1.73.1; python_version >= '3.9'
h11==0.16.0; python_version >= '3.8'
hf-xet==1.1.5; python_version >= '3.8'
httpcore==1.0.9; python_version >= '3.8'
httplib2==0.22.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
httpx==0.28.1; python_version >= '3.8'
httpx-sse==0.4.1; python_version >= '3.9'
huggingface-hub==0.33.2; python_full_version >= '3.8.0'
idna==3.10; python_version >= '3.6'
inquirer==2.10.1; python_version >= '3.7'
inquirerpy==0.3.4; python_version >= '3.7' and python_version < '4.0'
jinja2==3.1.6; python_version >= '3.7'
jiter==0.10.0; python_version >= '3.9'
jmespath==1.0.1; python_version >= '3.7'
joblib==1.5.1; python_version >= '3.9'
jq==1.9.1; python_version >= '3.8'
jsonpatch==1.33; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6'
jsonpointer==3.0.0; python_version >= '3.7'
langchain==0.3.24; python_version >= '3.9' and python_version < '4.0'
langchain-anthropic==0.2.4; python_version >= '3.9' and python_version < '4.0'
langchain-aws==0.2.13; python_version >= '3.9' and python_version < '4.0'
langchain-community==0.3.23; python_version >= '3.9'
langchain-core==0.3.68; python_version >= '3.9'
langchain-google-community==2.0.7; python_version >= '3.9' and python_version < '4.0'
langchain-google-genai[images]==2.1.6; python_version >= '3.9' and python_version < '4.0'
langchain-google-vertexai==2.0.27; python_version >= '3.9' and python_version < '4.0'
langchain-groq==0.2.5; python_version >= '3.9' and python_version < '4.0'
langchain-ollama==0.2.3; python_version >= '3.9' and python_version < '4.0'
langchain-openai==0.2.14; python_version >= '3.9' and python_version < '4.0'
langchain-text-splitters==0.3.8; python_version >= '3.9' and python_version < '4.0'
langchain-together==0.2.0; python_version >= '3.9' and python_version < '4.0'
langsmith==0.3.45; python_version >= '3.9'
llama-index-core==0.12.42; python_version >= '3.9' and python_version < '4.0'
lxml==6.0.0; python_version >= '3.8'
markdown-it-py==3.0.0; python_version >= '3.8'
markupsafe==3.0.2; python_version >= '3.9'
marshmallow==3.26.1; python_version >= '3.9'
mdurl==0.1.2; python_version >= '3.7'
multidict==6.6.3; python_version >= '3.9'
mypy-extensions==1.1.0; python_version >= '3.8'
nest-asyncio==1.6.0; python_version >= '3.5'
networkx==3.5; python_version >= '3.11'
nltk==3.9.1; python_version >= '3.8'
numexpr==2.11.0; python_version >= '3.10'
numpy==1.26.4; python_version >= '3.9'
ollama==0.5.1; python_version >= '3.8'
openai==1.93.2; python_version >= '3.8'
opencv-python==4.11.0.86; python_version >= '3.6'
orjson==3.10.18; python_version >= '3.9'
packaging==24.2; python_version >= '3.8'
pandas==2.3.1; python_version >= '3.9'
pfzy==0.3.4; python_version >= '3.7' and python_version < '4.0'
pillow==10.4.0; python_version >= '3.8'
pip==23.3.2; python_version >= '3.7'
platformdirs==4.3.8; python_version >= '3.9'
primp==0.15.0; python_version >= '3.8'
prompt-toolkit==3.0.51; python_version >= '3.8'
propcache==0.3.2; python_version >= '3.9'
proto-plus==1.26.1; python_version >= '3.7'
protobuf==6.31.1; python_version >= '3.9'
pyarrow==19.0.1; python_version >= '3.9'
pyasn1==0.6.1; python_version >= '3.8'
pyasn1-modules==0.4.2; python_version >= '3.8'
pycparser==2.22; python_version >= '3.8'
pydantic==2.11.7; python_version >= '3.9'
pydantic-core==2.33.2; python_version >= '3.9'
pydantic-settings==2.10.1; python_version >= '3.9'
pygments==2.19.2; python_version >= '3.8'
pyjwt==2.10.1; python_version >= '3.9'
pymongo==4.6.3; python_version >= '3.7'
pyparsing==3.2.3; python_version >= '3.9'
pypdf==5.7.0; python_version >= '3.8'
python-dateutil==2.9.0.post0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
python-dotenv==1.1.1; python_version >= '3.9'
python-editor==1.0.4
python-rapidjson==1.20; python_version >= '3.6'
pytz==2025.2
pyyaml==6.0.2; python_version >= '3.8'
readchar==4.2.1; python_version >= '3.8'
regex==2024.11.6; python_version >= '3.8'
requests==2.32.4; python_version >= '3.8'
requests-toolbelt==1.0.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
rich==14.0.0; python_full_version >= '3.8.0'
rsa==4.9.1; python_version >= '3.6' and python_version < '4'
s3transfer==0.10.4; python_version >= '3.8'
safetensors==0.5.3; python_version >= '3.7'
schema==0.7.7
setuptools==75.1.0; python_version >= '3.8'
shapely==2.1.1; python_version >= '3.10'
six==1.17.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
sniffio==1.3.1; python_version >= '3.7'
sqlalchemy[asyncio]==2.0.41; python_version >= '3.7'
tenacity==8.5.0; python_version >= '3.8'
text-generation==0.6.1; python_version >= '3.7' and python_version < '4.0'
tiktoken==0.7.0; python_version >= '3.8'
tokenizers==0.21.2; python_version >= '3.9'
tqdm==4.67.1; python_version >= '3.7'
transformers==4.53.1; python_full_version >= '3.9.0'
tritonclient==2.41.1
typing-extensions==4.14.1; python_version >= '3.9'
typing-inspect==0.9.0
typing-inspection==0.4.1; python_version >= '3.9'
tzdata==2025.2; python_version >= '2'
uritemplate==4.2.0; python_version >= '3.9'
urllib3==1.26.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4' and python_version < '4'
validators==0.35.0; python_version >= '3.9'
wcwidth==0.2.13
websockets==15.0.1; python_version >= '3.9'
werkzeug==3.1.3; python_version >= '3.9'
wheel==0.41.3; python_version >= '3.7'
wrapt==1.17.2; python_version >= '3.8'
yarl==1.20.1; python_version >= '3.9'
zstandard==0.23.0; python_version >= '3.8'
