# Application main directory
MCP_APP_DIR=../server
MCP_APP_MAIN_FILE=lib.mcp_server
MCP_SERVER_RUN_AS_MODULE=true

# MCP configuration
#
# MCP server port (default to 8000)
# MCP_SERVER_PORT=8000
#
# MCP server host (default to 0.0.0.0)
# MCP_SERVER_HOST="0.0.0.0"
#
# MCP server transport method.
#   Default to stdio (and runs over MCP Inspector) when MCP_DEBUG_MODE=1
#   Default to http when MCP_DEBUG_MODE=0
# MCP_TRANSPORT=stdio
# MCP_TRANSPORT=http
#
# GenericSuite user name (for automatic authentication)
GS_USER_NAME=
# GenericSuite user id (for automatic authentication)
GS_USER_ID=
# GenericSuite API key (for automatic authentication)
GS_API_KEY=
