{
    "presets": [
        // "@babel/preset-stage-0",
        "@babel/preset-react",
        "@babel/preset-env"
    ],
    "plugins": [
        "@babel/plugin-transform-class-properties",
        "@babel/plugin-syntax-jsx",
        "css-modules-transform"
    ]
}