# deploy/nginx.conf

server {
  listen 80;
  server_name _;

  root /usr/share/nginx/html;
  index index.html;

  location / {
    try_files $uri /index.html;
  }

  location /api/ {
    proxy_pass http://fastapitemplate-server:8000/;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection 'upgrade';
    proxy_set_header Host $host;
    proxy_cache_bypass $http_upgrade;
    
    #################################
    # IMPORTANT:
    # Don't include 'add_header' for GenericSuite since its API already add CORS headers
    
    # # CORS headers for API
    # add_header 'Access-Control-Allow-Methods' 'GET, POST, PUT, DELETE, OPTIONS' always;
    # add_header 'Access-Control-Allow-Headers' 'DNT,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range,Authorization' always;
    # add_header 'Access-Control-Allow-Origin' '*' always;
    
    # # Handle preflight requests
    # if ($request_method = 'OPTIONS') {
    #   add_header 'Access-Control-Allow-Origin' '*';
    #   add_header 'Access-Control-Allow-Methods' 'GET, POST, PUT, DELETE, OPTIONS';
    #   add_header 'Access-Control-Allow-Headers' 'DNT,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range,Authorization';
    #   add_header 'Access-Control-Max-Age' 1728000;
    #   add_header 'Content-Type' 'text/plain; charset=utf-8';
    #   add_header 'Content-Length' 0;
    #   return 204;
    # }
    #################################
  }

  location /mcp {
    proxy_pass http://fastapitemplate-server:8070/mcp;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection $http_connection;
    proxy_set_header Host $host;
    proxy_cache_bypass $http_upgrade;
    proxy_buffering off;
    proxy_request_buffering off;
  }

  access_log /var/log/nginx/access.log;
  error_log /var/log/nginx/error.log;
}